.main-layout,
.login-page {
  height: 100vh;
}

.side-bar {
  padding: 2rem;
}

.login-page__content {
  justify-content: center;
  height: 100vh;
  h1 {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    color: #444;
  }
}

.employee-list {
  text-align: left;
  .employee-data {
    display: flex;
    flex-direction: column;
  }
}
