.main-layout,
.login-page {
  height: 100vh;
}

.side-bar {
  padding: 2rem;
}

.login-page__content {
  justify-content: center;
}

.employee-list {
  text-align: left;
  .employee-data {
    display: flex;
    flex-direction: column;
  }
}
